@import '../../styles/variables';

#rtc-home-container {
  .rtc-actions-list {
    list-style: none;
    flex-direction: column;

    > li {
      margin: 0.5rem 2rem;
      width: 40%;
    }

    > li > a {
      display: block;
      width: 100%;
      font-size: 2em;
      text-decoration: none;
      color: $color-earth-word;
      word-break: break-all;
      @media screen and (max-width: 720px) {
        font-size: 1em;
      }
    }
  }
}
